doctype html
html
  head
    link(rel="stylesheet" href="bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="custom.css")
  body
    .container
      h1 #{name}
      table.table.table-sm
        thead
          tr
            th(scope="col") #
            th(scope="col") First
            th(scope="col") Last
            th(scope="col") Handle
        tbody
          tr
            th(scope="row") 1
            td Mark
            td Otto
            td @mdo
          tr
            th(scope="row") 2
            td Jacob
            td Thornton
            td @fat
          tr
            th(scope="row") 3
            td(colspan="2") Larry the Bird
            td @twitter
